<section class="projects-section-footer bg-gray" id="footer">
    <footer class="footer bg-dark text-white-50">
        <img class="mb-6" style="width: 100px; height: auto;" src="/assets/logo.png"/>

        <div class="container mb-4">
            <div class="row ">
                <div class="col-lg-4 mb-5">
                    <div class="text-pink">
                        <h5>Onde estamos</h5><br>
                    </div>

                    <div class="text-white">
                        <h6>Nossa sede fica em <br> Brasília, DF, SCN Q <br> 4 Asa Norte, <br>70714-900</h6>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="text-pink">
                        <h5>Serviços</h5><br>
                    </div>

                    <div class="text-white">
                        <h6><a class="text-white" href="">Consulte seu veículo</a></h6>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="text-pink">
                        <h5>Atendimento</h5><br>
                    </div>

                    <div class="text-white ">
                        <h6>Seg a Sex das 9:00 às 18:00</h6>
                    </div>

                    <div class="col-lg-12">
                        <div class="row ">
                            <div class="col-lg-5 text-start">
                                <h6><i class="fas fa-store-alt"></i> <a class="text-gray" href="">Postos físicos</a></h6>    
                            </div>
                            <div class="col-lg-5 text-start">                       
                                <h6><a cclass="text-gray" href="">0800-887-0499</a></h6>                                             
                            </div>
                            <div class="col-lg-5 text-start">
                                <h6><i class="far fa-comment-dots"></i> <a class="text-gray" href=""> Dúvidas frequentes</a></h6>                       
                            </div>
                            <div class="col-lg-5 text-white text-start">
                                <h6><a class="text-gray" href="">contato@usezapay.com.br</a></h6>                                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container mb-4">
            <div class="row ">
                <div class="col-lg-4 mb-5">
                    <div class="text-pink">
                        <h5>Institucional</h5>
                    </div>

                    <div>
                        <h6><a class="text-white" href="">Blog</a></h6>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="text-pink">
                        <h5>Formas de pagamento</h5>
                    </div>

                    <div class="text-white">
                        <h6>Cartões de crédito</h6>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="text-pink">
                        <h5>Redes sociais</h5>
                    </div>
                    <h3>
                        <a class="mx-2" href="#!"><i class="fab fa-blogger text-white"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-instagram text-white"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-facebook-f text-white"></i></a>
                        <a class="mx-2" href="#!"><i class="fab fa-youtube text-white"></i></a>
                    </h3>
                </div>
            </div>
        </div> 

        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="text-white">
                        <h3>DENATRAN</h3>
                    </div>
                    <div class="text-white text-start">
                        <h7>Empresa credenciada junto ao DENATRAN pela portaria Nº 750, de 18 de Outubro de 2018. <a class="text-white" href="">Saiba mais</a></h7>                                              
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 text-end">
                            <h7><a class="text-white" href="">Termo de uso</a></h7>                       
                        </div>
                        <div class="col-lg-6 text-white text-end">
                            <h7><a class="text-white" href="">Politica de Privacidade</a></h7>                                             
                        </div>

                    </div>
                    <div class="text-white text-end">
                        <h7>&copy; Zapay Serviços de Pagamentos S.A | CNPJ 28.593.387/0001-56</h7>                                              
                    </div>
                </div>
            </div>
        </div>   
        
    </footer>
</section>
