<section class="projects-section-footer bg-gray" id="footer">
    <footer class="footer bg-dark text-white-50">
        <div class="container">
            <img class="mb-5" style="width: 120px; height: auto;" src="/assets/logo.png"/>
        </div>

        <!-- First horizontal information-->
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <div class="text-pink fs-4">
                        <p>Onde estamos</p>
                    </div>

                    <div class="text-white fs-7">
                        <p>Nossa sede fica em <br> Brasília, DF, SCN Q 4 <br> Asa Norte, <br>70714-900</p>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="text-pink fs-4">
                        <p>Serviços</p>
                    </div>

                    <div class="text-white fs-7">
                        <p><a class="text-white" href="https://usezapay.com.br/#debtsession" target="__blank">Consulte seu veículo</a></p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="text-pink fs-4">
                        <p>Atendimento</p>
                    </div>

                    <div class="text-white fs-7">
                        <p>Seg a Sex das 9:00 às 18:00</p>
                    </div>

                    <div class="row fs-8">
                        <div class="col-sm-6">
                            <p>
                                <i class="fas fa-store-alt"></i><a class="mx-2 text-gray-light" href="https://ajuda.usezapay.com.br/hc/pt-br/categories/1500001865281-Postos-de-atendimento" target="__blank">Postos físicos</a>
                            </p>    
                        </div>
                        <div class="col-sm-6">                       
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i></i><a class="mx-2 text-gray-light" href="tel:08008870499">0800-887-0499</a>
                            </p>
                        </div>
                    </div>

                    <div class="row fs-8">
                        <div class="col-sm-6">
                            <p>
                                <i class="far fa-comment-dots"></i><a class="mx-2 text-gray-light" href="https://ajuda.usezapay.com.br/hc/pt-br/categories/360005206234-D%C3%BAvidas" target="__blank"> Dúvidas frequentes</a>
                            </p>        
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <i class="fas fa-envelope"></i><a class="mx-2 text-gray-light" href="mailto:contato@usezapay.com.br">contato@usezapay.com.br</a>
                            </p>                                             
                        </div>
                    </div>
                </div>                
            </div>
        </div> 

        <!-- Second horizontal information-->
        <div class="container mb-4">
            <div class="row ">
                <div class="col-lg-4 mb-5">
                    <div class="text-pink fs-4">
                        <p>Institucional</p>
                    </div>

                    <div>
                        <p>
                            <a class="text-white fs-7" href="">Blog</a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="text-pink fs-4">
                        <p>Formas de pagamento</p>
                    </div>

                    <div class="text-white fs-7">
                        <p>Cartões de crédito</p>
                    </div>

                    <div class="container-card-logo d-flex">
                        <img class="mx-1" src="/assets/cardlogo/mastercard.svg"/>
                        <img class="mx-1" src="/assets/cardlogo/visa.svg"/>
                        <img class="mx-1" src="/assets/cardlogo/american.svg"/>
                        <img class="mx-1" src="/assets/cardlogo/hiper.svg"/>
                        <img class="mx-1" src="/assets/cardlogo/elo.svg"/>
                        <img class="mx-1" src="/assets/cardlogo/pix.svg"/>
                    </div>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="text-pink fs-4">
                        <p>Redes sociais</p>
                    </div>
                    <p class="fs-7">
                        <a href="https://www.linkedin.com/company/zapay/" target="_blank"><i class="fab fa-linkedin text-white mx-1 fs-4"></i></a>
                        <a href="https://blog.usezapay.com.br/" target="_blank"><i class="fab fa-blogger text-white mx-1 fs-4"></i></a>
                        <a href="https://www.instagram.com/usezapay/" target="_blank"><i class="fab fa-instagram text-white mx-1 fs-4"></i></a>
                        <a href="https://www.facebook.com/zapaypagamentos/" target="_blank"><i class="fab fa-facebook-f text-white mx-1 fs-4"></i></a>
                        <a href="https://www.youtube.com/c/ZapayPagamentos" target="_blank"><i class="fab fa-youtube text-white mx-1 fs-4"></i></a>
                    </p>
                </div>
            </div>
        </div> 

        <!-- Third horizontal information-->
        <div class="container mb-4">
            <div class="row ">
                <div class="col-lg-6 mb-5">
                    <div class="row ">
                        <div class="col-lg-6">
                            <div class="text-pink fs-4">
                                <p>Consulta por estados</p>
                            </div>
                            <div>
                                <p>
                                    <a class="text-white fs-7" href="https://usezapay.com.br/detran-df" target="__blank">Consulte seus débitos no Detran-DF</a><br>
                                    <a class="text-white fs-7" href="https://usezapay.com.br/detran-mg" target="__blank">Consulte seus débitos no Detran-MG</a><br>
                                    <a class="text-white fs-7" href="https://usezapay.com.br/detran-pr" target="__blank">Consulte seus débitos no Detran-PR</a><br>
                                </p>
                            </div>  
                        </div>
                        <div class="col-lg-6 mt-5">
                             <p>
                                <a class="text-white fs-7" href="https://usezapay.com.br/detran-rj" target="__blank">Consulte seus débitos no Detran-RJ</a><br>
                                <a class="text-white fs-7" href="https://usezapay.com.br/detran-sp" target="__blank">Consulte seus débitos no Detran-SP</a><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Fourth horizontal information-->
        <div class="container">
            <div class="row">
                    <div class="col-sm footer-left">
                        <div class="text-white">
                            <p class="fs-3">DENATRAN</p>
                        </div>
                        <div class="text-white mt-3">
                            <p class="fs-8">Empresa credenciada junto ao DENATRAN pela portaria Nº 750, de 18 de Outubro de 2018. <a class="text-white" href="">Saiba mais</a></p>                                              
                        </div>
                    </div>
                    <div class="col-sm footer-right">
                        <div class="fs-7 mt-4">
                                <a class="text-white" href="https://usezapay.com.br/termos" target="__blank">Termo de uso</a>
                                <a class="text-white mx-2" href="https://usezapay.com.br/politica-de-privacidade" target="__blank">Politica de Privacidade</a>
                         
                        </div>
                        <div class="text-white fs-7 mt-3">
                            <p>&copy; 2021 Zapay Serviços de Pagamentos S.A | CNPJ 28.593.387/0001-56</p>                                              
                        </div>
                    </div>
            </div>
        </div>   
    </footer>
</section>
