<body id="page-top">
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h2 class="text-white mx-auto mt-2 mb-5">Somos uma fintech que está escrevendo seu novo capítulo no mercado</h2>
                    <a class="btn btn-primary" href="#about">Saiba mais</a>
                </div>
            </div>
        </div>
    </header>