<section class="projects-section bg-pink" id="workhere">
    <div class="container px-4 px-lg-5 ">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="text-center">
                <h1 class="text-white mb-5">Quer trabalhar na Zapay?</h1>
                <p class="fs-4 text-white px-5">
                    Analisamos com cuidado e respondemos todas as pessoas que entram em contato conosco.<br>
                    Consideramos todos os profissionais sem discriminação da raça, cor, religião, sexo, identidade de gênero, classe social, nacionalidade, orientação sexual/afetiva, ou deficiência.<br><br>
                    <b>Vamos juntos revolucionar o jeito que as pessoas pagam os débitos veiculares #SejaZapay</b>
                </p>
                
                <div class="mt-5">
                    <a class="btn-job text-white" href="/vagas">Candidate-se aqui</a>
                </div>

                <p class="fs-4 text-white px-5 mt-5">
                    <b>Siga a Zapay no LinkedIn e acompanhe nossas novidades!</b>
                    <a href="https://www.linkedin.com/company/zapay/" target="_blank"><i class="fab fa-linkedin text-white" ></i></a>
                </p>
            </div>
        </div>
</section>