<section class="projects-section bg-pink" id="culture">
    <div class="container px-4 px-lg-5 ">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h1 class="text-white mb-4">Nossa cultura</h1>
                </div>
            </div>
        </div>
    </div>
</section>