<section class="projects-section bg-dark" id="apply">
    <div class="container px-4 px-lg-5 ">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="text-white mb-4">Faça parte da nossa história!</h2>
                    <a class="btn btn-primary" href="/vagas">Ver vagas</a>
                </div>
            </div>
        </div>
    </div>
</section>