    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4">
            <div class="row align-items-center mb-6">

                <div class="col-lg text-white text-start mt-45">
                    <h1 class="text-white mb-45 text-start"><b>Nossa cultura</b></h1>
                    <p class="fs-5">
                        Cultura vai muito além de palavras e regras escritas! Aqui na Zapay ela nos guia diariamente e é através dela que somos movidos por uma combinação de atitudes comportamentos, valores e expectativas para construção diária da cultura Zapay.
                    </p>
                    <p class="fs-5">    
                        Desde a nossa criação, sempre buscamos uma cultura forte com valores sólidos e reais. Fazendo parte assim de quem somos e de como construímos nossa marca e nosso jeito de trabalhar.
                    </p>
                </div>

                <div class="col-lg mt-45">
                    <div class="container-lg">
                        <img src="assets/img/about/team-flag.png" alt="..." />
                    </div>
                </div>

            </div>

            <div class="row">       
                <div class="col-lg-6 text-white mb-4 text-center">
                    <img src="assets/img/about/raise-hand.png" alt="..." />
                    <h3 class="mb-4 "><b>Somos corajosos</b></h3>
                    <p class="fs-5">
                        Somos adaptáveis, não temos medo de mudança. Na verdade, vemos o novo com uma oportunidade. A inconformidade nos traz aprendizados, experiências únicas e crescimento. Assim, assumimos riscos e fazemos acontecer.
                    </p>
                </div>

                <div class="col-lg-6 text-white mb-4 text-center">
                    <img src="assets/img/about/hand-shake.png" alt="..." />
                    <h3 class="mb-4"><b>Trabalhamos duro</b></h3>
                    <p class="fs-5">
                        Focamos em resultados, seja satisfação dos nossos usuários, seja a fidelização dos clientes ou dos nossos parceiros. Consideramos que o trabalho só termina quando conseguimos atingir a meta.
                    </p>
                </div>
            </div>

            <div class="row">        
                <div class="col-lg-6 text-white mb-4 text-center">
                    <img src="assets/img/about/healthcare.png" alt="..." />
                    <h3 class="mb-4"><b>Somos íntegros</b></h3>
                    <p class="fs-5">
                        Somos honestos conosco e com os outros. Aprendemos com os nossos erros e nos responsabilizamos pelo nosso desenvolvimento e alcance dos resultados.
                    </p>
                </div>

                <div class="col-lg-6 text-white mb-4 text-center mb-6">
                    <img src="assets/img/about/palm-of-hand.png" alt="..." />
                    <h3 class="mb-4"><b>Somos transparentes</b></h3>
                    <p class="fs-5">
                        Somos orientados pelos nossos valores e transparência é um deles. Acreditamos que negócios são feitos com relacionamentos pautados por ética, transparência e verdade.
                    </p>
                </div>
            </div>
            
        </div>
    </section>