<section class="projects-section bg-pink" id="workhere">
    <div class="container px-4 px-lg-5 ">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="text-center">
                <h1 class="text-white mb-5">Quer trabalhar na Zapay?</h1>
                <p class="fs-4 text-white px-5">
                    Analisamos com cuidado e respondemos todas as pessoas que entram em contato conosco.<br><br>
                    Consideramos todos os profissionais sem discriminação de raça, cor, religião, sexo, identidade de gênero, classe social, nacionalidade, orientação sexual/afetiva ou deficiência.<br><br>
                    <b>Vamos juntos revolucionar o jeito que as pessoas pagam os débitos veiculares #SejaZapay</b>
                </p>
                
                <div class="mt-5">
                    <a class="btn-job text-white" href="/#apply">Candidate-se</a>
                </div>

                <p class="fs-4 text-white mt-5">
                    <b>Acompanhe a gente!</b><br>
                    <div class="fs-2">
                        <a href="https://www.linkedin.com/company/zapay/" target="_blank"><i class="fab fa-linkedin text-white mx-1"></i></a>
                        <a  href="https://blog.usezapay.com.br/" target="_blank"><i class="fab fa-blogger text-white mx-1"></i></a>
                        <a  href="https://www.instagram.com/usezapay/" target="_blank"><i class="fab fa-instagram text-white mx-1"></i></a>
                        <a  href="https://www.facebook.com/zapaypagamentos/" target="_blank"><i class="fab fa-facebook-f text-white mx-1"></i></a>
                        <a  href="https://www.youtube.com/c/ZapayPagamentos" target="_blank"><i class="fab fa-youtube text-white mx-1"></i></a>
                    </div>
                </p>
            </div>
        </div>
</section>