    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Faça parte desta revolução</h2>
                    <p class="text-white-50">
                        A Zapay veio para revolucionar o jeito de pagar os débitos veiculares, entregando mais liberdade, mais tempo e menos burocracia para os proprietários de veículos. Com esse propósito, desde 2017, já ajudamos a regularizar quase 500 mil veículos, tivemos mais de 4 milhões de consultas de multas, IPVA e licenciamento em nossa base e conseguimos o credenciamento de 25 DETRAN’s do país.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
        </div>
    </section>