<section class="projects-section-culture bg-white" id="culture">
    <div class="container">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-pink mb-5"><b>Como é trabalhar na Zapay</b></h1>
                </div>
                    <!-- containers with descritpions-->
                <div class="row mt-5 text-center">
                    <div class="col-lg-4 mt-3">
                        <div class="container-beige">
                            <div class="container-beige-text">
                              <br> <h4><b style="color: #ea3364;">Somos remotos</b></h4>
                            </div>
                            
                            <p class="fs-45 mt-4 text-gray">
                                Acreditamos que não importa o lugar onde você está trabalhando e buscamos te dar autonomia para que você fique confortável onde estiver. Nossas vagas são remotas e nos preocupamos para garantir as melhores condições de trabalho, através de ferramentas e acordos claros.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-3">
                        <div class="container-beige">
                            <div class="container-beige-text align-items-center">
                                <h4><b style="color: #ea3364;">Acreditamos que a diversidade traz pluralidade</b></h4>
                            </div>
                            
                            <p class="fs-45 mt-4 text-gray">
                                Aqui na Zapay, buscamos criar um ambiente diverso, que proporcione novas experiências, ideias e provocações ao status quo. Acreditamos com convicção que um ambiente plural torna o nosso dia a dia mais desafiador, criativo e completo.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-3">
                        <div class="container-beige">
                            <div class="container-beige-text">
                                <h4><b style="color: #ea3364;">Enxergamos a tecnologia como solução</b></h4>
                            </div>
                            
                            <p class="fs-45 mt-4 text-gray">
                                Para nós, facilitar a vida das pessoas é primordial. É algo de extrema importância entender que a tecnologia é o meio para solucionar com transparência diversas dificuldades que existem no dia a dia e usamos ela a nosso favor. Assim, criamos experiências melhores para as pessoas, no que de fato faz sentido para elas. 
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="text-center mt-5 px-5">
                    <p class="fs-4 text-gray">Conheça o nosso time! <br><br> Saiba o que nossos colaboradores dizem sobre trabalhar na Zapay e descubra como criamos um ambiente de trabalho colaborativo pautado no crescimento pessoal e profissional de cada um. </p>
                </div>

                <!-- containers with job employee descritpion-->
                <div class="row mt-5 text-center">
                    <div class="col-lg-4 mt-4">
                        <div class="container-white">
                            <p class="fs-45"><i>
                            “Vir para a Zapay foi um presente, cheio de significados, crescimento e amadurecimento”
                            </i></p>
                            <div class="row align-items-center mt-5 px-3">
                                <div class="col-sm-6 ">
                                    <img src="assets/img/culture/aline.png" alt="..." />
                                </div>
                                <div class="col-sm-6">
                                    <p class="fs-5 text-pink"><b>Aline Rodrigues</b><br>People Manager</p>
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="container-white">
                            <p class="fs-45"><i>
                                “Me vejo como um profissional feliz e que consegue contribuir, buscando ir mais longe dentro da Zapay”
                            </i></p>
                            <div class="row align-items-center mt-5 px-3">
                                <div class="col-sm-6">
                                    <img src="assets/img/culture/miguel.png" alt="..." />
                                </div>
                                <div class="col-sm-6">
                                    <p class="fs-5 text-pink"><b>César Miguel</b><br>Customer Service Analyst</p>
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="container-white">
                            <p class="fs-45"><i>
                                “Lido com desafios diários e isso me faz trabalhar com liberdade para fazer a cada dia melhor minha função”
                            </i></p>
                            <div class="row align-items-center mt-5 px-3">
                                <div class="col-sm-6">
                                    <img src="assets/img/culture/iris.png" alt="..." />
                                </div>
                                <div class="col-sm-6">
                                    <p class="fs-5 text-pink"><b>Iris Júlia</b><br>Fraud Analyst </p>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> 
</section>