<section class="projects-section bg-white" id="apply">
    <div class="container px-4 px-lg-5 ">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h1 class="text-gray mb-5">Faça parte da nossa história!</h1>
                    <a class="btn btn-primary" href="/vagas">Ver vagas</a>
                </div>
            </div>
        </div>
</section>