    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-9">
                    <h2 class="text-gray mb-4">Faça parte desta revolução</h2>
                    <p class="text-gray text-indent">
                        A Zapay veio para revolucionar o jeito de pagar os débitos veiculares, entregando mais liberdade, mais tempo e menos burocracia para os proprietários de veículos. Com esse propósito, desde 2017, já ajudamos a regularizar quase 500 mil veículos, tivemos mais de 4 milhões de consultas de multas, IPVA e licenciamento em nossa base e conseguimos o credenciamento de 25 DETRAN’s do país.
                    </p>
                    <div class="container-gallery mb-4"> 
                        <img src="assets/img/about/pic1.svg" alt="..." />
                        <img src="assets/img/about/pic2.svg" alt="..." />  
                    </div>
                    <p class="text-gray text-indent">
                    Foi com esse propósito, de transformar a maneira que as pessoas pagam e gerenciam débitos veiculares (IPVA, licenciamento, multas, DPVAT, entre outros), que a Zapay foi fundada. Entendemos que facilitando não só o acesso aos débitos, como também a novas formas de pagamento, a exemplo do parcelamento com cartão ou boleto, estamos proporcionando mais tempo e menos burocracia para nossos clientes.
                    </p>
                    <div class="container-gallery mb-4"> 
                        <img src="assets/img/about/pic3.svg" alt="..." />  
                        <img src="assets/img/about/pic4.svg" alt="..." />  
                    </div>    
                    <p class="text-gray text-indent">
                    Completados 4 anos, já passamos a marca das 3,5 milhões de proprietários de veículos atendidos e quase 500 mil veículos regularizados. É uma história nova, que ainda está sendo construída, mas que já atraiu a atenção de diversas grandes empresas nacionais e também de fundos de Venture Capital, como a DOMO Invest que fez um aporte SEED de 7.5  milhões de reais na empresa (Rodada Seed Zapay).
                    </p>
                    <div class="container-gallery mb-4"> 
                        <img src="assets/img/about/img3.png" alt="..." />  
                        <img src="assets/img/about/img4.png" alt="..." />  
                    </div>    
                </div>
            </div>
            
        </div>
    </section>