<section class="projects-section bg-gray" id="info">
    <footer class="footer bg-dark small text-center text-white-50">
        <div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div>
    </footer>
</section>
