<section class="projects-section-footer bg-gray" id="footer">
    <footer class="footer bg-dark text-center text-white-50">
        <div class="container px-4 px-lg-5">Copyright &copy; Zapay Pagamentos 2021</div><br>
        <img style="width: 100px; height: auto;" src="/assets/logo.png"/>
        
    </footer>
</section>
