<section class="bg-white" id="apply">
    <div class="container">
        <div class="text-center">
            <h1 class="text-pink mb-5 mt-6"><b>Vagas abertas</b></h1>
        </div>
    </div>

    <table class="container-table table-hover table table-bordered mb-5">
        <thead>
            <tr>
                <th scope="col"><h2 class="text-pink mt-2"><b>Ãrea</b></h2></th>
                <th scope="col"><h2 class="text-gray mt-2 px-5"><b>Vaga</b></h2></th>
                <th scope="col"><h2 class="text-gray mt-2 px-5"><b></b></h2></th>
                
            </tr>
        </thead>
        <tbody>
            <% jobs.forEach(jobs => { %>
            <tr>
                <td><%= jobs.area %></td>
                <td><%= jobs.title %></td>
                <td><a class="btn-secondary " target="__blank" href="<%=jobs.link%>">Candidate-se</a></td>
            </tr>   
            <% }) %> 
        </tbody>
    </table>
</section>