<body id="page-top">
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center">
            <div class="container mb-7">
                <div class="row align-items-center">
                    <div class="col-lg mb-5 text-start">
                        <h3 class="text-dark">
                            <b>Viemos para <b style="color: #ea3364;"> revolucionar<br>o jeito de pagar os débitos<br>veiculares</b>, possibilitando<br>o pagamento parcelado<br>das dívidas.</b>
                        </h3>
                    </div>

                    <div class="col-lg mb-5 text-end">
                        <a class="navbar-brand">
                            <img style="width: auto; height: 400px;" src="/assets/img/header/car-debts.png"/>
                        </a>
                    </div>                    
                </div>

                <div class="row align-items-center mt-4">
                    <div class="col-lg-3">
                        <a class="btn btn-primary">
                            <h4><b>500 mil</b></h4><br><h5>veículos regularizados</h5>
                        </a>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <a class="btn btn-secondary">
                            <h4><b>4 milhões</b></h4><br><h5>de consultas</h5>
                        </a>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <a class="btn btn-primary">
                            <h4><b>25 DETRAN's</b></h4><br><h5>credenciados</h5>
                        </a>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <a class="btn-pic btn-secondary">
                            <img style="width: 140px; margin: auto;" src="/assets/img/header/RA1000.png"/>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-md-center align-items-center">
                    <div class="col-lg-2 text-center mt-6">
                        <a class="btn-small btn-secondary align-items-center" href="#about">
                            <h5><b>Saiba mais</b></h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>