<!--Header-->
<%- include("../../partials/header.ejs") %>
<!--Navbar-->
<%- include("../../partials/navbar_job.ejs") %>
<br><br><br><br>
<div class="container-card-register mb-4">
    <div class="card" id="form-quest">
        <div class="card-header">
            <h3>Job description</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/jobs/save">
                <label>Area</label>
                <input type="text" placeholder="Area" class="form-control" name="area" required>
                <br>

                <label>Título</label>
                <input type="text" placeholder="Título da vaga" class="form-control" name="title" required>
                <br>

                <label>Dia a dia</label>
                <textarea type="text" placeholder="Como será o dia a dia?" class="form-control" name="day"></textarea>
                <br>

                <label>Habilidades</label>
                <textarea type="text" placeholder="Quais habilidades são importantes?" class="form-control" name="ability" ></textarea>
                <br>

                <label>Diferencial</label>
                <textarea type="text" placeholder="Diferenciais que contam" class="form-control" name="difference"></textarea>
                <br>

                <div class="text-center">
                    <button type="submit" class="btn-job btn-success">
                        <b>Enviar</b>
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<!--Contact Information-->
<%- include("../../sections/section06_footer.ejs") %>
<!--Footer -->
<%- include("../../partials/footer.ejs") %>

<script>
    tinymce.init({
        selector: "textarea",
        plugins:
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons ',
        toolbar: "numlist bullist"
    });
</script>